.keyword {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}

.timeUnit {
    -fx-fill: purple;
    -fx-font-style: italic;
}

.value { -fx-fill: blue; }

.list-cell:odd { -fx-background-color: transparent; }
.list-cell:even{ -fx-background-color: transparent; }