* {
    -group-color: GREEN;
}

#insert {
    -fx-text-fill: derive(cornflowerblue, -20%);
}

.table-cell {
    -fx-border-color: transparent;
    -fx-padding: 1em;
}

.keyword {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}

.timeUnit {
    -fx-fill: purple;
    -fx-font-style: italic;
}

.value { -fx-fill: blue; }

.dateTime {
    -fx-fill: purple;
    -fx-font-style: italic;
}

.matchedGroup {
}

.group0 {
    -fx-fill: derive(-group-color, -30%);
}

.group1 {
    -fx-fill: derive(-group-color, 0%);
}

.group2 {
    -fx-fill: derive(-group-color, 30%);
}

.group3 {
    -fx-fill: derive(-group-color, 60%);
}

.group4 {
    -fx-fill: derive(-group-color, 90%);
}

.reportGroup0 {
    -fx-fill: derive(-group-color, -30%);
}

.reportGroup1 {
    -fx-fill: derive(-group-color, 0%);
}

.reportGroup2 {
    -fx-fill: derive(-group-color, 30%);
}

.reportGroup3 {
    -fx-fill: derive(-group-color, 60%);
}

.reportGroup4 {
    -fx-fill: derive(-group-color, 90%);
}

.info {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.date-picker-popup {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-effect: none;
    -fx-padding: 1;
    -fx-background-insets: 0, 1;
}