# This is an example properties file
# Lines starting with the hash sign and empty lines are ignored

# Put this file to $HOME/.sttrc and it will be used automatically

# You can use environment variables anywhere you like if they are enclosed by dollar signs ($). 
# Example:
# tiFile=$HOME$/.ti-sheet

# all values below show their default

# If you want to read existing ti files, set this to the absolute or relative path of the file
#tiFile=$HOME$/.ti-sheet

# The same goes for an existing ti-current file:
#tiCurrentFile=$HOME$/.ti-sheet-current

# The file where time tracking is persisted to
#sttFile=$HOME$/.stt

# the width of output on the CLI: Comments will be truncated, so everything fits into to this width
# cliReportingWidth=80

# if you get funny output with umlauts or other non ASCII characters on the Windows CMD,
# set sysoutEncoding=CP850
#sysoutEncoding=UTF-8

# comments which should be regarded as break time. The values are case sensitive and may contain white space but must not contain commas
#breakTimeComments=pause,break,coffee

# the file where working time specifications are stored
#workingTimesFile=$HOME$/.stt_worktimes